# すべてのファイルとディレクトリを除外
/*

# docsフォルダのみ許可
!/docs/

# docsフォルダ内のすべてを許可
!/docs/**

# .gitignore自体を除外
.gitignore

# flask-appディレクトリすべて除外
/workspaces/Databricks-IoT/docs/03-features/flask-app

# silver-layer内の内容は全て許可
!/workspaces/Databricks-IoT/docs/03-features/ldp-pipeline/silver-layer/**

# common内のDB設計書は全て許可
!/workspaces/Databricks-IoT/docs/03-features/common/**