# すべてのファイルとディレクトリを除外
/*

# docsフォルダのみ許可
!/docs/

# docsフォルダ内のすべてを許可
!/docs/**

# .gitignore自体を許可
.gitignore

docs/03-features/ldp-pipeline/gold_layer/review-comments.md

docs/03-features/ldp-pipeline/silver-layer/review-comments.md

docs/AIレビューコメント/review-comments-silver.md

docs/AIレビューコメント/review-comments‐gold.md

docs/03-features/flask-app/conversational-ai-chat

docs/03-features/flask-app/device-inventory